.dropdown-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    appearance: none; /* Tar bort webbläsarens standardpil */

}

.dropdown-select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,0.25);
}