.ingredients-containter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ingredients-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}

.ingredient-row {
    display: flex;
    gap: 10px;
}